html {
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom right, rgb(19, 37, 18), rgb(47, 87, 45));
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Barlow', sans-serif !important;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0
}

.box {
  box-shadow: 7px 7px 7px black;
}


.whiteText {
  color: white;
}

.button {
  text-align: center;
  box-shadow: 3px 3px 3px black;
}

.navlink {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  padding: 13px;
}

.centered {
  text-align: center;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
  background-color: white;
}

#inputFields {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#header {
  padding: 10px;
  background-color: black;
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#app-title {
  color: white;
}

#barcodeScannerImage {
  max-height: 200px;
  max-width: auto;
  padding: 20px;
}

#order-details,
#order-lines {
  margin-top: 5%;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}

#orderNoField {
  margin: 10px 10px 50px 10px;
}

#order-mgmt {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#company-logo {
  border: 5px solid white;
  border-radius: 5px;
  display: block;
  max-width: 100%;
  max-height: 100%;
  min-width: auto;
  min-height: auto;
}